.advice {
  padding-bottom: 75px;
  background-image: url('../../img/bg-advice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.advice__title {
  margin-bottom: 80px;
  color: $white;
}

.advice__form {
  width: 770px;
  margin: 0 auto;
}

.advice__field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.advice__group-wrapper,
.advice__group--textarea {
  flex-basis: 47%;
}

.advice__input {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px 32px;
  border: none;
  border-radius: 19px;
}

.advice__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advice__button {
  font-size: 15px;
  color: $black;
  background-color: $main-color;
  border: none;
}

.advice__button:hover {
  margin-bottom: -2px;
  background-color: transparent;
  color: $main-color;
  border: 1px solid $main-color;
}

.advice__desc {
  width: 370px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
  color: $white;
  opacity: 0.5;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .advice__form {
    width: auto;
  }
}

@media (max-width: $tablet-width) {
  .advice {
	padding-bottom: 30px;
  }
  
  .advice__title {
    margin-bottom: 45px;
    font-size: 22px;
    line-height: 29px;
  }
  
  .advice__form {
	width: 280px;
  }
  
  .advice__field {
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .advice__footer {
    flex-direction: column;
  }
  
  .advice__button {
    order: 2;
  }
  
  .advice__desc {
    display: block;
    width: 280px;
    margin-bottom: 15px;
  }
}