.breadcrumbs {
  @include reset-list;
  display: flex;

  a {
    font-size: 14px;
    font-weight: 500;
    color: $font-color;
  }
}

.breadcrumbs a:hover {
  color: $main-color;
}

.breadcrumbs-current a {
  font-size: 14px;
  font-weight: 700;
}

.breadcrumbs-current a:hover {
  color: $font-color;
}

//@media (min-width: $tablet-width) {

//}

//@media (min-width: $desktop-width) {

//}