.btn {
  padding: 23px 45px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 32px;
}

//@media (min-width: $tablet-width) {

//}

//@media (min-width: $desktop-width) {

//}