.calculator {
  position: relative;
  padding-bottom: 75px;
  background-image: url(../img/bg-calculator.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $black;
}

.calculator__title {
  margin-bottom: 50px;
  color: $white;
  
  span {
    display: block;
    font-size: 26px;
    font-weight: 500;
    text-transform: lowercase;
  }
}

.calculator__desc {
  width: 430px;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  opacity: 0.8;
}

.calculator__img {
  position: absolute;
  right: 30%;
  top: 280px;
}

.calculator__form {
  width: 770px;
  margin: 0 auto;
}

.calculator__field {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border: none;
}

.calculator__legend {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 700;
  color: $white;
}

.calculator__label {
  font-size: 14px;
  font-weight: 400;
  color: $white;
}

.calculator__button {
  font-size: 15px;
  color: $black;
  background-color: $main-color;
  border: none;
}

.calculator__button:hover {
  padding: 22px 45px;
  background-color: transparent;
  border: 1px solid $main-color;
  color: $main-color;
}

.calculator__footer {
  display: flex;
  align-items: center;
}

.calculate__desc {
  margin-left: auto;
  width: 370px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  color: $white;
  opacity: 0.5;
}

.calculator input:hover,
.calculator textarea:hover {
  box-shadow: 0 3px 12px 5px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .calculator__desc {
    width: 280px;
	padding-left: 0;
  }
  
  .calculator__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .calculator__desc {
    padding-top: 70px;
    text-align: right;
  }

  .calculator__img {
    top: 175px;
    right: 43%;
    margin-right: -250px;
  }
  
  .calculator input:hover,
  .calculator textarea:hover {
    box-shadow: 0 3px 12px 5px rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
}

@media (max-width: $tablet-width) {
  .calculator {
    padding-bottom: 30px;
  }

  .calculator__title {
	line-height: 34px;
    
    span {
      font-size: 16px;
    }
  }
  
  .calculator__desc,
  .calculator__img {
    display: none;
  }
  
  .calculator__form {
    width: 280px;
  }
  
  .calculator__legend {
    font-size: 13px;
  }
}