.page-catalog {
  margin-top: -15px;
}

.card {
  padding-bottom: 130px;
  background-color: $white;
}

.card__title {
  margin-bottom: 50px;
}

.card__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.card__show-wrapper {
  width: 48%;
}

.card__img-wrapper {
  margin: 0;
  margin-bottom: 20px;
  box-shadow: -3px 5px 17px 1px rgba(0, 0, 0, 0.35);
}

.card__img {
  margin: 0 40px;
}

.card__list-preview {
 @include reset-list;
}

.card__list-preview .slick-track {
  width: auto;
}

.card__item-preview {
  opacity: 0.5;
}

.card__item-preview:hover {
  opacity: 1;
  cursor: pointer;
}

.card__desc-wrapper {
  width: 48%;
}

.card__pay-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card__price-title,
.card__count-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  opacity: 0.5;
}

.card__price-number {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 60px 0 35px;
  font-size: 22px;
  font-weight: 700;
  line-height: 38px;
  border: 2px solid $font-color;
  border-radius: 15px;
}

.card__price-number::after {
  content: '';
  
  position: absolute;
  top: 10px;
  left: 125px;

  width: 13px;
  height: 17px;
  
  background-image: url('../img/card.png');
  background-repeat: no-repeat;
}

.card__input-count input {
  padding: 7px 5px;
  border-radius: 10px;
  border: none;
}

.card__input-count input:nth-child(1) {
  width: 65px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.card__input-count input:nth-child(2),
.card__input-count input:nth-child(3) {
  width: 45px;
}

.card__button {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  background-color: $main-color;
  border: none;
}

.card__button:hover {
  background-color: transparent;
  border: 1px solid $main-color;
}

.card__table {
  border: none;
}

.card__table th {
  position: relative;
  width: 400px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  border: none;
}

.card__table th::before {
  content: '';
  
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  width: 9px;
  height: 16px;
  
  background-image: url('../img/table-arrow.png');
  background-repeat: no-repeat;
}

.card__table td {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  border: none;
}

.card__td-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.card__td-desc {
  position: absolute;
  left: 0;
  bottom: -85px;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .card {
    padding-bottom: 50px;
    min-height: 1070px;
  }
  
  .card__title {
    margin-bottom: 75px;
    padding-top: 0;
  }
  
  .card__wrapper {
    width: 600px;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .card__show-wrapper {
    display: flex;
    width: auto;
  }
  
  .card__img-wrapper {
    display: flex;
    align-items: center;
    width: 415px;
    height: 345px;
  }
  
  .card__img {
    width: 348px;
    height: 242px;
  }
  
  .card__list-preview {
    width: 155px;

    .slick-track {
      width: auto;
    }
  }
  
  .card__desc-wrapper {
    width: 600px;
    display: flex;
    align-items: flex-start;
  }
  
  .card__table {
    width: 420px;
    display: block;
  }
  
  .card__table th {
    display: block;
    width: 170px;
    margin-right: 80px;
    font-size: 14px;
  }
  
  .card__table td {
    width: 165px;
    font-size: 14px;
  }

  .card__pay-wrapper {
    width: 185px;
    order: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
  }
  
  .card__pay-wrapper-left {
    margin-bottom: 105px;
  }
  
  .card__button span {
    display: none;
  }
  
  .card__td-desc {
    bottom: -130px;
  }
  
  .card__price-number {
	font-size: 17px;
  }
  
  .card__price-number::after {
	top: 9px;
    left: 105px;
  }
}

@media (max-width: $tablet-width) {
  .card {
    padding-bottom: 30px;
  }
  
  .card__title {
	font-size: 18px;
    line-height: 25px;
  }
  
  .card__wrapper {
    flex-direction: column;
  }
  
  .card__show-wrapper,
  .card__img-wrapper {
    width: 280px;
  }
  
  .card__img {
    margin: 0;
  }
  
  .card__item-preview {
    width: 85px !important;
  }
  
  .card__desc-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .card__pay-wrapper {
    align-items: flex-start;
    order: 2;
    margin-top: 255px;
  }
  
  .card__table-wrapper {
    margin-bottom: 20px;
  }
  
  .card__table {
    width: 280px;
    
    th,
    td {
      font-size: 13px;
    }
    
    td {
      width: 140px;
    }
    
    tr:last-of-type td {
      font-size: 14px;
    }
  }
  
  .card__desc-wrapper {
	width: auto;
  }
  
  .card__pay-wrapper {
    flex-direction: column;
  }
  
  .card__pay-wrapper-left {
    width: 100%;
  }
  
  .card__price-number {
    width: 100%;
    text-align: center;
  }
  
  .card__price-number::after {
	left: 165px;
  }
  
  .card__count {
	margin-bottom: 25px;
  }
  
  .card__button {
    width: 100%;
  }
  
  .card__td-desc {
    bottom: 245px;
    font-size: 13px;
  }
  
  .card__td-title {
    margin-bottom: 5px;
	font-size: 13px;
  }
  
  .card__price-number {
	font-size: 17px;
  }
}

@media (min-width: 650px) and (max-width: $tablet-width) {
  .card__title {
	padding-top: 25px;
    margin-bottom: 50px;
  }
  
  .card__img-wrapper, .card__show-wrapper {
    width: 565px;
  }
  
  .card__img-wrapper {
	display: flex;
    justify-content: space-around;
  }
  
  .card__item-preview {
    width: 152px !important;
  }
  
  .card__table {
	width: 500px;
  }
  
  .card__pay-wrapper {
    width: 500px;
    margin: 0 auto;
	margin-top: 115px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  
  .card__pay-wrapper-left {
    width: 190px;
    margin-bottom: 0;
  }
  
  .card__td-desc {
    width: 665px;
  }
  
  .card__price-number::after {
    left: 120px;
  }
  
  .card__button {
	width: 225px;
  }
}

@media (max-width: $tablet-width) and (orientation: landscape) {
  .card {
    padding-bottom: 0;
  }
  
  .card__img-wrapper, .card__show-wrapper {
    width: 520px;
  }
  
  .card__item-preview {
    width: 170px!important;
  }
  
  .card__table {
    width: 400px;
    display: block;
    padding-left: 20px;
  }
  
  .card__td-desc {
    width: 520px;
    top: 800px;
    padding-left: 20px;
  }
  
  .card__pay-wrapper {
    margin-top: 150px;
    margin-bottom: 30px;
  }
  
  .card__pay-wrapper-left {
	display: flex;
    justify-content: space-around;
  }
  
  .card__price-number::after {
    left: 105px;
  }
  
  .card__button {
    width: auto;
    margin: 0 auto;
  }
}