.catalog {
  position: relative;
  min-height: 490px;
  margin-bottom: 250px;
  background-image: url('../img/bg-catalog.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 0px 11px 155px 13px rgba(0, 0, 0, 0.3);
}

.catalog__title {
  margin-bottom: 75px;
}

.catalog__list {
  position: absolute;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include reset-list;
}

.catalog__item {
  width: 370px;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.3);
}

.catalog__item:hover {
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.catalog__desc-block {
  padding: 35px 30px;
}

.catalog__item-tile {
  margin: 0;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__desc {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
}

.catalog__price {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 700;
  color: $font-color;
}

.catalog__button {
  background-color: $main-color;
  color: $black;
  border: none;
}

.catalog__button:hover {
  padding: 22px 44px;
  background-color: transparent;
  border: 1px solid $main-color;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog {
	margin-bottom: 450px;
  }
  
  .catalog__title {
	margin-bottom: 50px;
  }
  
  .catalog__list {
	width: auto;
    justify-content: center;
    left: 50%;
    margin-left: -400px;
  }
  
  .catalog__item {
    position: relative;
	width: 620px;
    min-height: 216px;
    margin-bottom: 50px;
    padding-left: 300px;
  }
  
  .catalog__item:hover {
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .catalog__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 310px;
    height: 100%;
  }
  
  .catalog__item-tile {
	font-size: 16px;
  }
  
  .catalog__desc {
    display: none;
  }
  
  .catalog__price {
	font-size: 27px;
  }
  
  .catalog__button {
    font-size: 14px;
  }
  
  .catalog__button:hover {
    padding: 22px 44px;
    background-color: transparent;
    border: 1px solid $main-color;
  }
}

@media (max-width: $tablet-width) {
  .catalog {
    margin-bottom: 930px;
  }
  
  .catalog__title {
	margin-bottom: 55px;
  }
  
  .catalog__list {
	max-width: none;
    width: 280px;
  }
  
  .catalog__item {
	width: 280px;
    margin-bottom: 30px;
  }
  
  .catalog__desc-block {
    padding: 20px 14px;
  }
  
  .catalog__item-tile {
    font-size: 15px;
    line-height: 21px;
  }
  
  .catalog__button {
    font-size: 14px;
  }
}