.page-contacts {
  margin-top: -15px;
}

.connection {
  padding-bottom: 50px;
  background-color: $white;
}

.connection__title {
  position: relative;
  margin: 0;
  margin-bottom: 110px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 36px;
  font-weight: 700;
  color: $font-color;
  text-transform: uppercase;
}

.connection__title::after {
  content: '';

  position: absolute;
  bottom: -20px;
  left: 30px;

  width: 174px;
  height: 3px;

  background-color: $main-color;
}

.connection__area {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 40px 30px 25px 70px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.connection__map {
  margin-bottom: 70px;
  
  iframe {
    position: static;
    width: 100%;
  }
}

.connection__map-image {
  display: block;
  margin-bottom: 100px;
}

.connection__area-title {
  position: absolute;
  top: -50px;
  left: -25px;
  width: 230px;
  margin: 0;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  border-radius: 31px;
  box-shadow: 0 3px 9px 5px rgba(255, 162, 0, 0.45);
}

.connection__area-title:hover {
  color: $white;
  background-color: $main-color;
  cursor: pointer;
}

.connection__adress-title,
.connection__add-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.connection__add ul {
  @include reset-list;
  
  a {
    color: $white;
  }
}

.connection__add-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: 30%;
    opacity: 0.5;
  }
}

.connection__add-list li:hover {
  cursor: pointer;
  opacity: 1;
}

.connection__slider {
  position: absolute;
  right: 30px;
  top: 30px;
  @include reset-list;
  width: 340px;
}

.connection .slick-slide {
  width: auto !important;
  margin-right: 14px;
}

.connection__item {
  opacity: 0.5;
}

.connection__item:hover {
  cursor: pointer;
  opacity: 1;
}

.connection__adress,
.connection__tel,
.connection__mail {
  position: relative;
  width: 230px;
  margin-bottom: 20px;
}

.connection__time {
  position: relative;
  width: 180px;
  margin-bottom: 20px;
}

.connection__adress,
.connection__tel,
.connection__mail,
.connection__time {
  position: relative;
  margin-bottom: 20px;
}

.connection__add {
  position: relative;
}

.connection__adress::before,
.connection__add::before,
.connection__tel::before,
.connection__mail::before,
.connection__time::before {
  content: '';

  position: absolute;
  top: 0;
  left: -35px;

  display: block;
  width: 25px;
  height: 25px;
  
  background-repeat: no-repeat;
}

.connection__tel::before {
  top: -5px;
  left: -30px;
}

.connection__adress::before {
  background-image: url('../img/footer-adress.png');
}

.connection__add::before {
  background-image: url('../img/footer-adress2.png');
}

.connection__tel::before {
  background-image: url('../img/connection-tel.png');
}

.connection__mail::before {
  background-image: url('../img/connection-post.png');
}

.connection__time::before {
  background-image: url('../img/connection-clock.png');
}

.connection__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 525px;
}

.connection__area--moscow {
  margin-bottom: 50px;
  background-image: url('../img/contact-msk.jpg');
}

.connection__area--tula {
  background-image: url('../img/contact-tula.jpg');
}

.connection__area--rostov {
  background-image: url('../img/contact-rostov.jpg');
}

.connection__area--ryazan {
  margin-bottom: 90px;
  background-image: url('../img/contact-ryazan.jpg');
}

.connection__area--kaluga {
  margin-bottom: 90px;
  background-image: url('../img/contact-caluga.jpg');
}

.connection__area--volgograd {
  margin-bottom: 35px;
  background-image: url('../img/contact-volgograd.jpg');
}

.connection__attention {
  position: relative;
  width: 770px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.connection__attention::before {
  content: '';

  position: absolute;
  top: -5px;
  left: -30px;

  display: block;
  width: 35px;
  height: 27px;

  background-image: url('../img/contact-attention.png');
  background-repeat: no-repeat;
}

.connection__tel-desc {
  font-size: 17px;
}

.connection__add-remove {
  display: none;
}

.menu > li:first-of-type > a {
  position: absolute;
  top: -140px;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.menu > li:first-of-type ul > li > a {
  position: absolute;
  top: -115px;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.menu > li:first-of-type > a,
.menu > li:last-of-type > a {
  display: none;
}

.connection .menu a {
  white-space: nowrap;
  display: block;
  width: 261px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connection .submenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  li {
    margin-bottom: 2px;
  }
}

.connection__area--moscow li a:hover {
  color: $main-color;
}









.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.3);
	position:fixed;
	z-index:1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
  height: auto;
}


.popup_img {
	position: fixed;
	z-index:2;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-height: 90%;
}

.popup_img {
  pointer-events: none;
}
















@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .connection__title {
    padding: 0;
  }
  
  .connection__area {
    width: 640px;
  }
  
  .connection__slider {
    display: none;
  }
  
  .connection__map {
    margin-bottom: 100px;
  }
  
  .connection__area--moscow .connection__add {
	margin-top: -80px;
  }

  .connection__area--moscow .connection__add-list {
    width: 200px;
    height: 100px;
    overflow: scroll;
    
    li {
      width: auto;
    }
  }
  
  .connection__area--moscow .connection__wrapper {
    position: relative;
    width: 200px;
    margin-left: 280px;
  }
  
  .connection__area--moscow .connection__adress {
    position: absolute;
    left: -280px;
  }

  .connection__area--moscow .connection__tel {
    order: 2;
  }
  
  .connection__area--moscow .connection__mail {
    order: 3;
  }
  
  .connection__add-title {
    margin-bottom: 5px;
  }
  
  .menu > li:first-of-type ul > li > a {
    top: -60px;
  }
  
  .connection ul.menu {
    display: block;
    
    a {
      width: 200px;
    }
  }
  
  .connection ul.menu > li:last-of-type {
    margin-top: -105px;
  }

  .submenu {
	width: 215px;
    height: 105px;
    overflow: scroll;
  }
}

@media (max-width: $tablet-width) {
  .page-contacts {
	margin-top: -15px !important;
  }
  
  .connection__title {
    padding-left: 0;
  }
  
  .connection__title::after {
    left: 0;
  }
  
  .connection__slider {
    display: none;
  }
  
  .connection__area {
    margin-bottom: 80px;
    padding: 40px 20px 25px 65px;
  }
  
  .connection__area--moscow {
    margin-bottom: 30px;
  }
  
  .connection__area-title {
    width: 225px;
    left: 50%;
    margin-left: -112px;
  }
  
  .connection__wrapper {
    width: auto;
  }
  
  .connection__map {
    margin-bottom: 80px;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .connection__add-title {
    margin-bottom: 5px;
  }

  .connection__area--moscow .connection__add-list {
    width: 200px;
    height: 100px;
    overflow: scroll;
    
    li {
      width: auto;
    }
  }
  
  .connection__attention {
    width: auto;
    font-size: 13px;
    line-height: 19px;
  }
  
  .connection__attention::before {
    top: -45px;
    left: 50%;
    margin-left: -17px;
  }
  
  .menu > li:first-of-type ul > li > a {
    top: -200px;
    display: block;
    width: 190px;
  }
  
  .connection .menu a {
    width: 190px;
  }
  
  .submenu {
	height: 110px;
    overflow: scroll;
  }
}