.connection {
  padding-bottom: 50px;
}

.connection__title {
  position: relative;
  margin: 0;
  margin-bottom: 110px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 36px;
  font-weight: 700;
  color: $font-color;
  text-transform: uppercase;
}

.connection__title::after {
  content: '';

  position: absolute;
  bottom: -20px;
  left: 30px;

  width: 174px;
  height: 3px;

  background-color: $main-color;
}

.connection__area {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 30px 30px 40px 70px;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.connection__map {
  margin-bottom: 50px;
  
  iframe {
    position: absolute;
  }
}

.connection__map-image {
  display: block;
  margin-bottom: 100px;
}

.connection__area-title {
  position: absolute;
  top: -50px;
  left: -25px;
  width: 230px;
  margin: 0;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  border-radius: 31px;
  box-shadow: 0 3px 9px 5px rgba(255, 162, 0, 0.45);
}

.connection__area-title:hover {
  color: $white;
  background-color: $main-color;
  cursor: pointer;
}

.connection__adress-title,
.connection__add-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.connection__add-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  li {
    width: 30%;
    opacity: 0.5;
  }
}

.connection__add-list li:hover {
  cursor: pointer;
  opacity: 1;
}

.connection__slider {
  position: absolute;
  right: 30px;
  top: 30px;
  @include reset-list;
  width: 340px;
}

.connection .slick-slide {
  width: auto !important;
  margin-right: 14px;
}

.connection__item {
  opacity: 0.5;
}

.connection__item:hover {
  cursor: pointer;
  opacity: 1;
}

.connection__area--moscow {
  margin-bottom: 50px;
  background-image: url('../img/contact-msk.jpg');
}

.connection__area--tula {
  background-image: url('../img/contact-ryazan.jpg');
}

.connection__area--rostov {
  background-image: url('../img/contact-rostov.jpg');
}

.connection__area--ryazan {
  margin-bottom: 35px;
  background-image: url('../img/contact-ryazan.jpg');
}

.connection__attention {
  position: relative;
  width: 770px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.connection__attention::before {
  content: '';

  position: absolute;
  top: -5px;
  left: -30px;

  display: block;
  width: 35px;
  height: 27px;

  background-image: url('../img/contact-attention.png');
  background-repeat: no-repeat;
}