.features__title {
  margin-bottom: 50px;
  width: 575px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  @include reset-list;
  margin-bottom: 50px;
}

.features__item {
  position: relative;
  margin-bottom: 30px;
  padding: 5px 1px 20px 130px;
}

.features__item:hover {
  padding: 4px 1px 20px 129px;
  border: 1px solid $white;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  cursor: pointer;
}

.features__item:not(:first-of-type) {
  margin-left: 200px;
}

.features__item-title {
  margin: 0;
  margin-bottom: 5px;
  width: 170px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.features__desc {
  margin: 0;
  width: 200px;
  font-size: 14px;
  font-weight: 400;
}

.features__img {
  position: absolute;
  left: 5px;
  top: 5px;
}

.features__img:hover {
  cursor: pointer;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .features__list {
	justify-content: space-around;
  }
  
  .features__item:hover {
    padding: 4px 1px 20px 129px;
    border: 1px solid $white;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    cursor: pointer;
  }
  
  .features__item:not(:first-of-type) {
    margin-left: 0;
  }
  
  .features__item-title {
	font-size: 18px;
    line-height: 22px;
  }
  
  .features__img {
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

@media (max-width: $tablet-width) {
  .features__title {
    width: 245px;
  }
  
  .features__title span {
    display: none;
  }
  
  .features__list {
	justify-content: center;
  }
  
  .features__item:not(:first-of-type) {
    margin-left: 0;
  }
  
  .features__item {
    padding-left: 0;
    padding-top: 130px;
    text-align: center;
  }
  
  .features__item-title {
	font-size: 18px;
    line-height: 22px;
  }
  
  .features__img {
	left: 50%;
    margin-left: -65px;
  }
}