.header-top {
  position: relative;
  z-index: 2;
  padding: 15px 0;
  color: $white;
  background: linear-gradient(to right, #000000, #343434);
  box-shadow: 1px 0 13px 4px rgba(0, 0, 0, 1);
}

.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__contact {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  font-size: 12px;
  font-weight: 500;
}

.header-top__time {
  margin-bottom: 10px;
}

.header-top__mail {
  font-size: 14px;
}

.header-top__time,
.header-top__mail {
  position: relative;
}

.header-top__time::before,
.header-top__mail::before {
  content: '';

  position: absolute;

  display: block;
  width: 20px;
  height: 17px;

  background-repeat: no-repeat;
}

.header-top__time::before {
  top: 0;
  left: -25px;
  background-image: url('../img/header-clock.png');
}

.header-top__mail::before {
  top: 3px;
  left: -27px;

  background-image: url('../img/header-post.png');
}

.header-top__basket {
  position: relative;
  border: none;
  background: transparent;
}

.header-top__basket::after {
  content: '';

  position: absolute;
  left:-50px;
  top: -20px;

  width: 47px;
  height: 47px;

  background-image: url('../img/basket.png');
  background-repeat: no-repeat;
}

.header-top__basket:hover::after {
  opacity: 0.9;
}

.header-top__basket:active::after {
  opacity: 0.3;
}

.header-top__basket:focus,
.header-top__basket:active {
  outline: 1px solid $main-color;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .header-top__contact {
    position: absolute;
    bottom: -45px;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: auto;
    margin-left: 25px;

    color: $font-color;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }

  .header-top__time {
    order: 2;
    margin-left: 50px;
  }

  .header-top__time::before {
    background-image: url('../../img/header-clock2.png');
  }

  .header-top__mail::before {
    background-image: url('../../img/header-post2.png');
  }
}

@media (max-width: $tablet-width) {  
  .header-top__wrapper {
	justify-content: flex-start;
  }
  
  .header-top__contact {
    display: none !important;
  }
}