.header-bottom {
  min-height: 50px;
  background-color: $white;
}

.header-bottom--catalog {
  margin-bottom: 15px;
  box-shadow: 1px 0 45px 0px rgba(28, 37, 51, 0.55);
}

//@media (min-width: $tablet-width) {

//}

//@media (min-width: $desktop-width) {

//}