.header-bottom {
  position: fixed;
//  top: 0;
  top: 115px;
  z-index: 1;
  width: 100%;
  min-height: 44px;
  margin: 0 auto;
//  padding-top: 115px;
  background-color: $white;
}

.sticky {
  top: 0;
  z-index: 99999;
  padding-top: 0 !important;
  box-shadow: 1px 0 13px 4px $black;
  transition: all 1.5s ease;
}

.header-bottom--catalog {
  margin-bottom: 15px;
  box-shadow: 1px 0 45px 0px rgba(28, 37, 51, 0.55);
}

.header-bottom__button {
  display: none;
  outline: none;
}

@media (min-width: $mobile-width) and (max-width: $desktop-width) {
  .main-nav__list .container {
	display: flex;
    flex-wrap: wrap;
  }
  
  .header-bottom__button {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 305px;
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .header-bottom--closed .header-bottom__button {
    top: -15px;
    left: 50%;
    margin-left: 305px;
  }

  .header-bottom--closed .header-bottom__button::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 29px;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }
  
  .header-bottom--closed .header-bottom__button::after {
    content: "МЕНЮ";
    position: absolute;
    top: 30px;
    left: -33px;
  }

  .header-bottom--opened .header-bottom__button::before,
  .header-bottom--opened .header-bottom__button::after {
    content: "";
    position: absolute;
    left: 28px;
    width: 23px;
    height: 2px;
    background-color: #000000;
  }

  .header-bottom--opened .header-bottom__button::before {
    z-index: 101;
    transform: rotate(45deg);
    box-shadow: none;
  }

  .header-bottom--opened .header-bottom__button::after {
    z-index: 101;
    transform: rotate(-45deg);
  }
  
  .header-bottom--opened .main-nav__list {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $white;
  }
  
  .header-bottom--opened .header-bottom__button {
	top: 110px;
  }
}

@media (max-width: $tablet-width) {
  .header-top {
	position: static;
  }
  
  .header-bottom {
    position: static;
    min-height: 0;
    width: auto;
  }
  
  .header-bottom__button {
    z-index: 101;
    top: 0;
    left: 45px;
  }

  .header-bottom--closed .header-bottom__button::before {
    box-shadow: 0 6px 0 0 $white, 0 12px 0 0 $white;
  }

  .header-bottom--closed .header-bottom__button {
    top: 0;
    margin-left: 85px;
  }
  
  .header-bottom--closed .header-bottom__button::before {
    background-color: $white;
  }
  
  .header-bottom--closed .header-bottom__button::after {
    color: $white;
  }
  
  .header-bottom--opened .header-bottom__button {
    top: 15px;
    left: 50%;
    margin-left: 25px;
  }

  .header-bottom--opened .header-bottom__button::before,
  .header-bottom--opened .header-bottom__button::after {
    left: 64%;
    top: 30px;
  }
  
  .header-bottom--opened .main-nav__list {
	top: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 650px) and (max-width: $tablet-width) {
  .header-bottom--closed .header-bottom__button {
    margin-left: 215px;
  }
  
  .header-bottom--opened .header-bottom__button {
    margin-left: 190px;
    top: 10px;
  }
}

@media (max-width: $tablet-width) and (orientation: landscape) {
  .header-bottom--closed .header-bottom__button {
    right: 100%;
    margin-left: 220px;
  }
  
  .header-bottom--opened .header-bottom__button {
    right: 100%;
    margin-left: 200px;
  }
}