.media {
  padding-bottom: 70px;
  color: $white;
  background-image: url('../img/bg-media.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
}

.media__title {
  margin-bottom: 70px;
  color: $white;
}

.media__list {
  display: flex;
  justify-content: center;
  @include reset-list;
}

.media__item {
  width: 300px !important;
  height: 200px;
  margin-right: 80px;
  margin-left: 55px;
  background-color: #acacac;
}

.media__item:hover {
  border: 3px solid $main-color;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .media {
    padding-bottom: 30px;
  }
  
  .media__title {
	margin-bottom: 70px;
  }
}