.pay {
  display: flex;
  padding-top: 25px;
  padding-bottom: 100px;
  background-image: url('../img/bg-pay.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -220px;
}

.pay .container {
  display: flex;
  justify-content: flex-end;
}

.pay__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.pay__title {
  width: 550px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.pay__list-img,
.pay__list-features {
  @include reset-list;
}

.pay__list-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pay__item-img:not(:last-of-type) {
  margin-right: 30px;
}

.pay__footer {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay__item-features {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: rgba(31, 15, 34, 0.8);
}

.pay__item-features::before {
  content: '';
  
  position: absolute;
  left: -25px;
  top: 3px;
  
  width: 17px;
  height: 16px;
  
  background-image: url('../img/checkmark.png');
  background-repeat: no-repeat;
}

.pay__button {
  color: $black;
  background-color: $main-color;
  border: none;
}

.pay__button:hover {
  padding: 22px 45px;
  background-color: transparent;
  border: 1px solid $main-color;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .pay {
    padding-top: 0;
    background-position: -470px 65px;
  }
  
  .pay__wrapper {
	width: 100%;
  }
  
  .pay__title {
    width: 100%;
	margin-bottom: 55px;
    font-size: 20px;
    line-height: 24px;
    
    span {
      display: block;
    }
  }

  .pay__list-img,
  .pay__footer {
    margin-left: auto;
  }
  
  .pay__item-img {
	width: 100px;
  }
  
  .pay__button:hover {
    padding: 22px 45px;
    background-color: transparent;
    border: 1px solid $main-color;
  }
}

@media (max-width: $tablet-width) {
  .pay {
    padding-bottom: 30px;
    padding-top: 0;
    background-image: none;
    
    .container {
      display: block;
    }
  }

  .pay__wrapper {
	margin-right: 0;
  }
  
  .pay__title {
	width: 280px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
  }
  
  .pay__list-img {
    margin-bottom: 35px;
  }
  
  .pay__item-img {
    width: 86px;
  }
  
  .pay__item-img:not(:last-of-type) {
    margin-right: 15px;
  }
  
  .pay__list-features {
    display: none;
  }
  
  .pay__footer {
    width: auto;
  }
}