.popular {
  position: relative;
  min-height: 700px;
}

.bg-popular {
  position: fixed;
  top: -75px;
  left: 0;
  z-index: -1;
  
  .container {
	width: 100%;
    padding: 0;
  }
}

.popular__title {
  margin-bottom: 75px;
  color: $white;
}

.popular__list {
  width: 1170px;
  @include reset-list;
}

.popular__item {
  width: 370px !important;
  min-height: 455px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.3);
}

.popular__item:hover {
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.popular__desc-block {
  padding: 15px 30px 35px 30px;
}

.popular__item-tile {
  margin: 0;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.popular__price {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 700;
  color: $font-color;
  
  .price-symbol::after {
    left: 65px;
  }
}

.popular__button {
  background-color: $main-color;
  color: $black;
  border: none;
}

.popular__button:hover {
  padding: 22px 44px;
  background-color: transparent;
  border: 1px solid $main-color;
}

.popular .slick-dots {
  position: absolute;
  bottom: -10px;
}

.slick-dots button::before {
  font-size: 10px !important;
  color: $main-color !important;
}

@media (min-width: $desktop-width) {
  .popular__img-wrapper {
    position: relative;
  }

  .popular__hidden {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    opacity: 0;

    a {
      display: block;
      width: 200px;
      margin: 0 auto;
      margin-top: 85px;
      border: none;
      color: $white;
      background-color: transparent;
      border-radius: 25px;
      padding: 15px;
      box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
    }
  }

  .popular__img-wrapper:hover .popular__hidden {
    opacity: 1;
    transition: 0.5s;
  }
}

@media (max-width: $desktop-width) {
  .popular__hidden a {
	display: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .popular {
    min-height: 615px;
  }
  
  .popular__list {
	width: 640px;
    margin: 0 auto;
  }
  
  .popular__item {
	width: 310px !important;
    min-height: 410px;
  }
  
  .popular__item:hover {
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .popular__item-tile {
    font-size: 17px;
    line-height: 23px;
  }
  
  .popular__button {
    font-size: 14px;
  }
  
  .popular__button:hover {
    padding: 22px 44px;
    background-color: transparent;
    border: 1px solid $main-color;
  }
}

@media (max-width: $tablet-width) {
  .popular {
	min-height: 520px;
  }
  
  .popular__title {
    margin-bottom: 50px;
  }
  
  .popular__list {
	max-width: none;
    width: 280px;
  }
  
  .popular__item {
	width: 270px !important;
    min-height: 350px;
    margin-bottom: 30px;
    margin-left: 5px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
  }
  
  .popular__desc-block {
    padding: 0 14px 20px 14px;
  }
  
  .popular__item-tile {
    font-size: 14px;
    line-height: 20px;
  }
  
  .popular__price {
    font-size: 26px;
    line-height: 20px;
  }
  
  .price-symbol::after {
    top: -3px;
  }
  
  .popular__button {
    font-size: 14px;
  }
}