.related-product {
  position: relative;
  min-height: 750px;
  background-image: url('../img/bg-related.jpg');
  background-repeat: no-repeat;
  background-position: 0 300px;
  border-bottom: 1px solid $white;
}

.related-product__title {
  margin-bottom: 75px;
}

.related-product__list {
  position: absolute;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include reset-list;
}

.related-product__item {
  width: 370px;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.3);
}

.related-product__desc-block {
  padding: 35px 30px;
}

.related-product__item-tile {
  margin: 0;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.related-product__desc {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
}

.related-product__price {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 700;
  color: #ffa200;
}

.related-product__button {
  background-color: $main-color;
  color: $black;
  border: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .related-product {
	min-height: 975px;
    background-position: bottom;
  }
  
  .related-product__title {
	margin-bottom: 50px;
  }
  
  .related-product__list {
	width: auto;
    justify-content: center;
    left: 50%;
    margin-left: -400px;
  }

  .related-product__item {
    position: relative;
	width: 620px;
    min-height: 216px;
    margin-bottom: 50px;
    padding-left: 300px;
  }
  
  .related-product__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 310px;
    height: 100%;
  }
  
  .related-product__item-tile {
	font-size: 16px;
  }
  
  .related-product__desc {
    display: none;
  }
  
  .related-product__price {
	font-size: 27px;
  }
  
  .related-product__button {
    font-size: 14px;
  }
}

@media (max-width: $tablet-width) {
  .related-product {
	min-height: 1380px;
    background-position: 0 bottom;
  }
  
  .related-product__title {
    margin-bottom: 55px;
	font-size: 16px;
    line-height: 22px;
  }
  
  .related-product__list {
	max-width: none;
    width: 280px;
  }
  
  .related-product__item {
	width: 280px;
    margin-bottom: 30px;
  }
  
  .related-product__desc-block {
    padding: 20px 14px;
  }
  
  .related-product__item-tile {
    font-size: 15px;
    line-height: 21px;
  }
  
  .related-product__button {
    font-size: 14px;
  }
}