.related-product {
  position: relative;
  min-height: 750px;
  background-image: url('../img/bg-related.jpg');
  background-repeat: no-repeat;
  background-position: 0 300px;
  border-bottom: 1px solid $white;
}

.related-product__title {
  margin-bottom: 75px;
}

.related-product__list {
  position: absolute;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include reset-list;
}

.related-product__item {
  width: 370px;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.3);
}

.related-product__desc-block {
  padding: 35px 30px;
}

.related-product__item-tile {
  margin: 0;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.related-product__desc {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
}

.related-product__price {
  margin: 0;
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 700;
  color: #ffa200;
}

.related-product__button {
  background-color: $main-color;
  color: $black;
  border: none;
}

//@media (min-width: $tablet-width) {

//}

//@media (min-width: $desktop-width) {

//}