.services {
  padding-bottom: 100px;
  background-image: url('../img/bg-services.png');
  background-repeat: no-repeat;
}

.services__title {
  margin-bottom: 50px;
}

.services__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  max-width: 970px;
  margin: 0 auto;
}

.services__item {
  position: relative;
  width: 800px;
  margin-bottom: 30px;
  padding: 30px 100px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.3);
}

.services__item:hover {
  margin-bottom: 24px;
  border: 3px solid $main-color;
  transition: all .3s;
  transform: scale(1.035);
  cursor: pointer;
}

.services__item::after {
  content: '';
  
  position: absolute;
  top: -48px;
  
  width: 92px;
  height: 120px;

  background-repeat: no-repeat;
}

.services__item:nth-child(1)::after {
  right: 30px;
  background-image: url('../img/services-number1.png');
}

.services__item:nth-child(2)::after {
  left: 30px;
  background-image: url('../img/services-number2.png');
}

.services__item:nth-child(3)::after {
  right: 30px;
  background-image: url('../img/services-number3.png');
}

.services__item:nth-child(4)::after {
  left: 30px;
  background-image: url('../img/services-number4.png');
}

.services_item-title {
  margin: 0;
  font-size: 18px;
  line-height: 47px;
  font-weight: 700;
}

.services__item-desc {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.services__item:nth-child(1),
.services__item:nth-child(3) {
  text-align: left;
  margin-left: auto;

  .services__item-img {
    position: absolute;
    top: 10px;
    left: -150px;
  }
}

.services__item:nth-child(2),
.services__item:nth-child(4) {
  text-align: right;

  .services__item-img {
    position: absolute;
    top: 10px;
    right: -150px;
  }
}

.services__item-link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 162, 0, 0.8);
}

.services__item-link::after {
  content: '';

  position: absolute;
  top: 20px;
  left: 0;

  width: 120px;
  height: 1px;
  background-color: rgba(255, 162, 0, 0.5);
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .services {
	padding-bottom: 45px;
  }
  
  .services__item {
    max-width: 560px;
  }
}

@media (max-width: $tablet-width) {
  .services {
    padding-bottom: 30px;
	background-image: none;
  }
  
  .services__item:nth-child(1),
  .services__item:nth-child(2),
  .services__item:nth-child(3),
  .services__item:nth-child(4) {
    width: auto;
    padding: 0;
    padding-top: 220px;
    text-align: center;
    box-shadow: none;
    
    .services_item-title {
      font-size: 18px;
      line-height: 47px;
    }
    
    .services__item-desc {
      font-size: 16px;
      line-height: 19px;
    }
    
    .services__item-img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -125px;
    }
  }
  
  .services__item::after {
    content: '';
    width: 0;
  }
}