.size__title {
  margin: 0;
}

.size__group--wrapper {
  display: flex;
  justify-content: space-between;
  
  label {
    color: $white;
  }
}

.size__group {
  max-width: 370px;
  width: 100%;
}

.size__label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: $white;
}

.size__group:nth-child(1) .size__input {
  width: 370px;
  padding: 12px 32px;
  border-radius: 19px;
  border: none;
}

.size__group:nth-child(2) .size__input {
  width: 48px;
  padding: 12px 6px;
  border-radius: 19px;
  border: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .calculator__form {
	max-width: 770px;
    width: 100%;
  }
  
  .size__group {
	width: 47%;
  }
  
  .size__group:nth-child(1) .size__input {
	width: 100%;
  }
  
  .contact-calc__group--textarea,
  .contact-calc__wrapper {
    width: auto;
    width: 47%;
  }
  
  .contact-calc__group {
    width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .size__group--wrapper {
    flex-direction: column;
  }
  
  .size__group {
    max-width: none;
    width: auto;
    margin-bottom: 10px;
  }
  
  .size__label {
    font-size: 12px;
  }
  
  .size__group:nth-child(1) .size__input {
    width: 100%;
  }
  
  .size__group:nth-child(2) .size__group-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .size__group:nth-child(2) .size__input {
    width: 140px;
  }
  
  .size__group:nth-child(2) label {
    margin-top: 7px;
    margin-bottom: 5px;
  }
}

@media (min-width: 650px) and (max-width: $tablet-width) {
  .size__group {
    width: 520px;
  }
  
  .size__group:nth-child(2) .size__group-wrapper {
    flex-direction: row;
  }
  
  .size__group:nth-child(2) .size__input {
    width: 70px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: $tablet-width) and (orientation: landscape) {
  .size__group {
	max-width: 415px;
  }
  
  .size__group:nth-child(2) .size__group-wrapper {
    flex-direction: row;
  }
  
  .size__group:nth-child(2) .size__input {
    width: 70px;
    margin-left: 8px;
    margin-right: 8px;
  }
}