.size__title {
  margin: 0;
}

.size__group--wrapper {
  display: flex;
  justify-content: space-between;
  
  label {
    color: $white;
  }
}

.size__group {
  max-width: 370px;
  width: 100%;
}

.size__label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: $white;
}

.size__group:nth-child(1) .size__input {
  width: 370px;
  padding: 12px 32px;
  border-radius: 19px;
  border: none;
}

.size__group:nth-child(2) .size__input {
  width: 48px;
  padding: 12px 6px;
  border-radius: 19px;
  border: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .calculator__form {
	max-width: 770px;
    width: 100%;
  }
  
  .size__group {
	width: 47%;
  }
  
  .size__group:nth-child(1) .size__input {
	width: 100%;
  }
  
  .contact-calc__group--textarea,
  .contact-calc__wrapper {
    width: auto;
    width: 47%;
  }
  
  .contact-calc__group {
    width: 100%;
  }
}