.slider {
  position: relative;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 65px;
  height: 18px;
  display: flex;
  justify-content: space-between;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider__controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding-top: 150px;
  padding-bottom: 200px;
  text-align: center;
  background-color: $grey;
}

.slider-item:nth-child(1) {
  background-image: url('../img/bg-main1.jpg');
  background-repeat: no-repeat;
  background-position: center -380px;
  background-size: auto;
}

.slider-item:nth-child(2) {
  background-image: url('../img/bg-main2.jpg');
  background-repeat: no-repeat;
  background-position: center -380px;
  background-size: auto;
}

.slider-item:nth-child(3) {
  background-image: url('../img/bg-main3.jpg');
  background-repeat: no-repeat;
  background-position: center -380px;
  background-size: auto;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider__controls .slider__controls-item--1::before,
#product-2:checked ~ .slider__controls .slider__controls-item--2::before,
#product-3:checked ~ .slider__controls .slider__controls-item--3::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 17px;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__title {
  width: 830px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}

.slider__desc {
  margin: 0;
  margin-bottom: 50px;
  color: $white;
  font-style: 18px;
  font-weight: 400;
}

.slider__buttons {
  width: 525px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slider__button-buy {
  color: $black;
  background-color: $main-color;
  border: none;
}

.slider__button-buy:hover {
  color: $main-color;
  border: 1px solid $main-color;
  background-color: transparent;
}

.slider__button-learn {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
}

.slider__button-learn:hover {
  opacity: 0.7;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .slider__title {
	font-size: 38px;
    line-height: 46px;
    width: 670px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
}

@media (max-width: $tablet-width) {
  .slider__title {
	width: auto;
    margin-bottom: 45px;
    font-size: 30px;
    line-height: 36px;
  }
  
  .slider-item {
	padding-top: 45px;
    padding-bottom: 25px;
  }
  
  .slider__desc {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 22px;
  }
  
  .slider__buttons {
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .slider__button-buy {
    margin-bottom: 20px;
  }
  
  .slider__controls {
    display: none;
  }
}