.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding-top: 50px;
}

.socials__logo {
  display: inline-block;
  text-align: center;
}

.socials__title {
  text-align: center;
}

.socials__list {
  display: flex;
  justify-content: center;
  @include reset-list;
}

.socials__item:not(:last-of-type) {
  margin-right: 10px;
}

.socials__item-link:hover {
  cursor: pointer;
}

.socials__item:first-of-type .socials__item-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/facebook.png');
  background-repeat: no-repeat;
}

.socials__item:first-of-type .socials__item-link:hover {
  background-image: url('../img/facebook2.png');
  background-repeat: no-repeat;
}

.socials__item:nth-child(2) .socials__item-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/vk.png');
  background-repeat: no-repeat;
}

.socials__item:nth-child(2) .socials__item-link:hover {
  background-image: url('../img/vk2.png');
  background-repeat: no-repeat;
}

.socials__item:nth-child(3) .socials__item-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/instagram.png');
  background-repeat: no-repeat;
}

.socials__item:nth-child(3) .socials__item-link:hover {
  background-image: url('../img/instagram2.png');
  background-repeat: no-repeat;
}

.socials__item:last-of-type .socials__item-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/twitter.png');
  background-repeat: no-repeat;
}

.socials__item:last-of-type .socials__item-link:hover {
  background-image: url('../img/twitter2.png');
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .socials {
	width: 190px;
    margin-right: 90px;
    padding-top: 30px;
    align-items: center;
  }
  
  .socials__logo {
    margin-bottom: 30px;
  }
  
  .socials__item-link:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .socials {
    padding-top: 0;
    align-items: flex-start;
  }
}