.structure {
  position: relative;
  min-height: 1155px;
  background-image: url('../../img/bg-structure.jpg');
}

.structure__title {
  margin-bottom: 55px;
  
  span {
    display: block;
  }
}

.structure__desc {
  width: 620px;
  padding-left: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.structure__pic-block1,
.structure__pic-block2 {
  margin: 0;
}

.structure__img {
  position: absolute;
}

.structure__img--zoom {
  top: -80px;
  left: 50%;
  margin-left: -150px;
}

.structure__img--main {
  top: 605px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .structure__desc {
	line-height: 22px;
  }
  
  .structure__desc:last-of-type {
	margin-bottom: 30px;
  }

  .structure__pic {
    display: flex;
    flex-direction: column;
  }
  
  .structure__img {
    position: static;
  }
  
  .structure__img--zoom {
    order: 2;
    margin-top: -130px;
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .structure {
    min-height: 1810px;
    background-image:
      url('../img/bg-structure.png'),
      url('../img/bg-structure.jpg');
    background-repeat:
      no-repeat,
      repeat;
    background-position:
      center 720px,
      center;
  }
  
  .structure__desc {
	width: auto;
    font-size: 14px;
    line-height: 20px;
  }
  
  .structure__img {
	display: none;
  }
}

@media (min-width: 650px) and (max-width: $tablet-width) {
  .structure {
    min-height: 1500px;
	background-position: center 425px, center;
  }
}

@media (max-width: $tablet-width) and (orientation: landscape) {
  .structure {
	min-height: 1530px;
    background-position: center 445px, center;
  }
}