.sub-menu--catalog {
  width: 255px;
}

.sub-menu--catalog-inner,
.sub-menu--install--inner {
  box-shadow: 0 5px 7px 1px rgba(0, 0, 0, 0.35);
}

.sub-menu--install {
  width: 155px;
}

.sub-menu__item {
  margin-bottom: 10px;
}

.sub-menu__link {
  display: block;
  color: $grey;
  text-transform: none;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  color: #ffcc00;
}