html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Ubuntu", "Arial", sans-serif;
  color: $font-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  position: relative;
  margin: 0;
  padding-left: 30px;
  padding-top: 60px;
  font-size: 36px;
  font-weight: 700;
  color: $font-color;
  text-transform: uppercase;
}

h2::after {
  content: '';

  position: absolute;
  bottom: -20px;
  left: 30px;

  width: 174px;
  height: 3px;

  background-color: $main-color;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  h2 {
    padding-top: 50px;
    padding-left: 0;
    font-size: 28px;
    line-height: 37px;
  }
  
  h2::after {
    left: 0;
    bottom: -15px;
  }
}

@media (max-width: $tablet-width) {
  h2 {
    width: auto;
    margin-bottom: 55px;
    padding-top: 30px;
    padding-left: 0;
    font-size: 26px;
    line-height: 31px;
  }
  
  h2::after {
    left: 0;
    bottom: -15px;
  }
}